@import 'tailwindcss';
:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
}

h1,
h2,
h3,
p,
li,
span,
a,
label,
input,
button {
	font-family: 'Inter', sans-serif;
}

a {
	font-weight: 500;
	/* color: #646cff; */
	text-decoration: inherit;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.card {
	padding: 2em;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	button {
		background-color: #f9f9f9;
	}
} */

.font-inter {
	font-family: 'Inter', sans-serif;
}

.font-jetbrains-mono {
	font-family: 'JetBrains Mono', monospace;
}

/* Animazione del codice */
@keyframes bob {
	0% {
		transform: translateX(0) rotate(0);
	}
	25% {
		transform: translateX(10px) rotate(5deg);
	}
	50% {
		transform: translateX(-10px) rotate(-5deg);
	}
	75% {
		transform: translateX(10px) rotate(5deg);
	}
	100% {
		transform: translateX(0) rotate(0);
	}
}

.hover\:animate-bob:hover {
	animation: bob 1s ease-in-out forwards;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Animazione testo del codice */
@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Applicare l'animazione solo quando l'elemento è in hover */
.group:hover span {
	animation: blink 1s step-start infinite;
}

.group span {
	opacity: 0;
}

.text-melon {
	color: #fab3a9;
}

.bg-custom-bar {
	background: linear-gradient(to bottom, rgba(234, 179, 8, 0.9), /* yellow-500 al 90% */ #fdbcb4 /* melon */);
}
